/* Style for body specifies a background color */
body {
  background-color: black;
}

/* Style to create a fluid image */
img {
  max-width: 100%;
}

/* Center the navigation items */
nav {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px; /* Adjust this value to position nav below header */
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 2s forwards;
  animation-delay: 1s; /* Delay the nav animation */
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Ensure ul is inline-block to center it */
nav ul {
  display: flex;
  justify-content: space-around; /* Distributes the items evenly */
  padding: 0;
  margin: 0;
  list-style: none; /* Removes default list styling */
  width: 80%; /* Adjust this width to control the spacing of nav items */
}

/* Style for nav li specifies the background color, rounded corners, removes bullet style, and applies margins and padding for list items within the navigation */
nav li {
  border-radius: 2em;
  list-style-type: none;
  margin: 0.3em;
  padding: 0.4em;
  display: inline;
  margin: 0; /* Adjust the spacing between nav items */
}

/* Style changes navigation link text color to white and removes the underline */
nav li a {
  color: #ffffff;
  text-decoration: none;
}

/* Style for the container centers the page and specifies the width */
#container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
}

#container section#welcome {
  margin-bottom: 20px;
}

/* Center the image in the About Us section */
#container section#about img {
  display: block;
  margin: 0 auto; /* This centers the image horizontally */
  max-width: 100%; /* Ensure the image doesn't exceed its container */
}

/* Center the image in the About Us section */
#container section#menu img {
  display: block;
  margin: 0 auto; /* This centers the image horizontally */
  max-width: 100%; /* Ensure the image doesn't exceed its container */
}

/* Style for the header specifies top margin, background color, rounded corners, and center align content */
header {
  text-align: left;
  margin-bottom: 20px; /* Add some space below the logo */
}

/* Style for the header image */
header img {
  width: 100%;
  max-height: 300px; /* Adjust this value as needed */
  object-fit: contain;
}

/* Add margin or padding to the welcome section */
#container section#welcome {
  padding-top: 20px; /* Adjust this value to ensure h1 is not cut off */
}

/* Center the image in the About Us section */
#container section#about img {
  display: block;
  margin: 0 auto; /* This centers the image horizontally */
  max-width: 100%; /* Ensure the image doesn't exceed its container */
}

/* Style for nav specifies text properties */
nav {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 2s forwards;
  animation-delay: 1s; /* Delay the nav animation */
}

/* Style for nav li specifies the background color, rounded corners, removes bullet style, and applies margins and padding for list items within the navigation */
nav li {
  border-radius: 2em;
  list-style-type: none;
  margin: 0.3em;
  padding: 0.4em;
}

/* Style changes navigation link text color to white and removes the underline */
nav li a {
  color: #ffffff;
  text-decoration: none;
}

/* Style for the banner image */
#banner img {
  max-width: 100%;
  height: auto;
}

/* Explicit styles for the main element */
main {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  color: #ffff;
}

/* Style for the footer specifies font size, text alignment, and top margin */
footer {
  font-size: 0.8em;
  text-align: center;
  margin-top: 2em;
  color: #ffffff;
}

/* Style hides the tablet class */
.tablet {
  display: none;
}

/* Style rule specifies to not display the equip class */
.equip {
  display: none;
}

/* Media query for mobile layout targets screens with a maximum width of 659px. */
@media only screen and (max-width: 659px) {
  /* Hide images within the section element */
  section img {
    display: none;
  }

  nav {
    margin-top: 30px;
    margin-right: 9em;
  }

  #container section#welcome {
    padding-top: 20px; /* Adjust this value to ensure h1 is not cut off */
  }

  /* Style for the header specifies top margin, background color, rounded corners, and center align content */
  header {
    text-align: center; /* Center align content */
    margin-bottom: 20px; /* Add some space below the logo */
  }

  /* Style for the header image */
  header img {
    max-width: 100%; /* Make sure the logo doesn't exceed the width of its container */
    height: auto; /* Maintain aspect ratio */
  }
  main img {
    display: none;
  }

  /* Style hides the tablet class */
  .tablet {
    display: none;
  }

  /* Style rule specifies to not display the equip class */
  .equip {
    display: none;
  }

  .mobile {
    color: white;
    display: inline;
  }

  /* Target email links with mailto attribute */
  .contact {
    color: white;
  }

  /* Form Styles */
  form {
    margin-top: 20px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #0000ff;
    color: #fff;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #0000ff;
  }
  iframe {
    display: none;
  }
}

/* Media query for tablet layout targets screen size with a minimum width of 660px.  */

@media only screen and (min-width: 660px) {
  header {
    text-align: center; /* Center align content */
    margin-bottom: 20px; /* Add some space below the logo */
  }

  /* Style for the header image */
  header img {
    max-width: 100%; /* Make sure the logo doesn't exceed the width of its container */
    height: auto; /* Maintain aspect ratio */
  }

  nav {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    float: none;
    margin-right: 0;
  }

  /* Ensure ul is inline-block to center it */
  nav ul {
    display: flex;
    justify-content: space-around; /* Distributes the items evenly */
    padding: 0;
    margin: 0;
    list-style: none; /* Removes default list styling */
    width: 100%; /* Adjust this width to control the spacing of nav items */
  }

  #container section#welcome {
    padding-top: 30px; /* Adjust this value to ensure h1 is not cut off */
  }

  /* Style specifies a horizontal display for navigation links */
  nav li {
    display: inline;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
    padding-left: 0;
    padding-right: 0;
    width: 18%;
    white-space: nowrap;
    border-radius: 0;
    background-color: transparent;
  }

  /* Style specifies a horizontal display for navigation links */
  nav ul {
    justify-content: space-between;
  }
  /* Style specifies clear and top margin properties for the main element */
  main {
    clear: left;
    margin-top: -0.3em;
    border-radius: 0;
    overflow: auto;
  }

  /* Style specifies to hide the mobile class */
  .mobile {
    display: inline;
    color: white;
  }

  /* Style specifies to display the desktop class */
  .desktop {
    display: inline;
  }

  /* Style specifies a display, float, and padding for the equip class */
  .equip {
    display: inline;
    float: left;
    margin-right: 1.5em;
  }

  /* Style specifies to display the tablet class */
  .tablet {
    display: block;
    margin-top: -3em;
    margin-bottom: -1em;
  }

  /* Style for the banner image */
  #banner img {
    max-width: 100%;
    height: auto;
  }

  form {
    margin-top: 20px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #0000ff;
    color: #fff;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #0000ff;
  }

  /* Target email links with mailto attribute */
  .contact {
    color: white;
  }
}

/* Media query for desktop layout targets screens with a minimum width of 830px. Inherits styles from mobile layout defined above. */

@media only screen and (min-width: 830px) {
  /* Style specifies width for container */
  #container {
    background-color: black;
  }

  /* Style to left align header */
  header {
    text-align: left;
  }

  /* Style for the header image */
  header img {
    max-width: 100%;
    max-height: 300px; /* Adjust this value as needed */
    height: auto;
    opacity: 0;
    transform: translateY(50px); /* Start 50px below its final position */
    animation: fadeInUp 2s forwards;
  }

  /* Style for nav specifies a float, margin, and width */
  nav {
    float: right;
    margin-top: -7em;
    margin-right: 9em;
    margin-bottom: 0;
    width: 65%;
    margin-top: 30px; /* Adjust this value to ensure nav is below header */
  }

  #container section#welcome {
    padding-top: 30px; /* Adjust this value to ensure h1 is not cut off */
  }
  /* Style for the banner image */
  #banner img {
    max-width: 100%;
    height: auto;
  }

  /* Style specifies clear and top margin properties for the main element */
  main {
    clear: left;
    margin-top: -0.3em;
    border-radius: 0;
    overflow: auto;
  }

  section img {
    width: 45%;
    height: auto;
  }

  /* Style for article element */
  article {
    float: left;
    margin: 0.5%;
    padding: 0.5%;
    text-align: center;
    width: 45%;
  }

  h1 {
    text-align: center;
  }
  form {
    margin-top: 20px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #0000ff;
    color: #fff;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #0000ff;
  }

  /* Target email links with mailto attribute */
  .contact {
    color: white;
  }
}

/* Keyframes for fadeInUp animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px); /* Start 50px below its final position */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Move to its final position */
  }
}
